<section class="bg-light" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="intro">
                    <h6>Projets</h6>
                    <h1>Projets réussis</h1>
                    <p class="mx-auto">Contrairement à une croyance populaire, Lorem Ipsum n'est pas simplement du texte aléatoire...</p>
                </div>
            </div>
        </div>
    </div>
    <div id="projects-slider" class="owl-theme owl-carousel" #portfolioSlider>
        <div class="project">
            <div class="overlay"></div>
            <img src="assets/img/project1.jpg" alt="">
            <div class="content">
                <h2>Conseil Marketing</h2>
                <h6>Conception de site web</h6>
            </div>
        </div>
        <div class="project">
            <div class="overlay"></div>
            <img src="assets/img/project2.jpg" alt="">
            <div class="content">
                <h2>Conseil Marketing</h2>
                <h6>Conception de site web</h6>
            </div>
        </div>
        <div class="project">
            <div class="overlay"></div>
            <img src="assets/img/project3.jpg" alt="">
            <div class="content">
                <h2>Conseil Marketing</h2>
                <h6>Conception de site web</h6>
            </div>
        </div>
        <div class="project">
            <div class="overlay"></div>
            <img src="assets/img/project4.jpg" alt="">
            <div class="content">
                <h2>Conseil Marketing</h2>
                <h6>Conception de site web</h6>
            </div>
        </div>
        <div class="project">
            <div class="overlay"></div>
            <img src="assets/img/project5.jpg" alt="">
            <div class="content">
                <h2>Conseil Marketing</h2>
                <h6>Conception de site web</h6>
            </div>
        </div>
    </div>
</section>
