<section class="bg-light" id="reviews">
  <div class="owl-theme owl-carousel reviews-slider container" #reviewsSlider>
    <div class="review">
      <div class="person">
        <img src="assets/img/team_1.jpg" alt="">
        <h5>Client 1</h5>
        <small>Responsable</small>
      </div>
      <h3>D'excellentes solutions d'IA de Segus !</h3>
      <div class="stars">
        <i class='bx bxs-star'></i>
        <i class='bx bxs-star'></i>
        <i class='bx bxs-star'></i>
        <i class='bx bxs-star'></i>
        <i class='bx bxs-star-half'></i>
      </div>
      <i class='bx bxs-quote-alt-left'></i>
    </div>
    <div class="review">
      <div class="person">
        <img src="assets/img/team_2.jpg" alt="">
        <h5>Client 2</h5>
        <small>Responsable</small>
      </div>
      <h3>Excellent travail d'ingénierie.</h3>
      <div class="stars">
        <i class='bx bxs-star'></i>
        <i class='bx bxs-star'></i>
        <i class='bx bxs-star'></i>
        <i class='bx bxs-star'></i>
        <i class='bx bxs-star-half'></i>
      </div>
      <i class='bx bxs-quote-alt-left'></i>
    </div>
  </div>
</section>
