<section id="team">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="intro">
          <h6>Équipe</h6>
          <h1>Membres de l'équipe</h1>
          <p class="mx-auto">Rencontrez nos experts en IA et en ingénierie.</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-8">
        <div class="team-member">
          <div class="image">
            <img src="assets/img/team_1.jpg" alt="">
            <div class="social-icons">
              <a href="#"><i class='bx bxl-facebook'></i></a>
              <a href="#"><i class='bx bxl-twitter'></i></a>
            </div>
            <div class="overlay"></div>
          </div>
          <h5>John Doe</h5>
          <p>Spécialiste en IA</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-8">
        <div class="team-member">
          <div class="image">
            <img src="assets/img/team_2.jpg" alt="">
            <div class="social-icons">
              <a href="#"><i class='bx bxl-facebook'></i></a>
              <a href="#"><i class='bx bxl-twitter'></i></a>
            </div>
            <div class="overlay"></div>
          </div>
          <h5>Jane Smith</h5>
          <p>Ingénieure</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-8">
        <div class="team-member">
          <div class="image">
            <img src="assets/img/team_3.jpg" alt="">
            <div class="social-icons">
              <a href="#"><i class='bx bxl-facebook'></i></a>
              <a href="#"><i class='bx bxl-twitter'></i></a>
            </div>
            <div class="overlay"></div>
          </div>
          <h5>Bob Johnson</h5>
          <p>Chef de projet</p>
        </div>
      </div>
    </div>
  </div>
</section>
