<div class="owl-carousel owl-theme hero-slider" #slider>
  <div class="slide slide1">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center text-white">
          <h6 class="text-white text-uppercase">Design Driven for Professionals</h6>
          <h1 class="display-3 my-4">We craft digital experiences</h1>
          <a href="#" class="btn btn-brand">Get Started</a>
          <a href="#" class="btn btn-outline-light ms-3">Our Work</a>
        </div>
      </div>
    </div>
  </div>
  <div class="slide slide2">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1 text-white">
          <h6 class="text-white text-uppercase">We craft digital experiences</h6>
          <h1 class="display-3 my-4">Design Driven For Professionals</h1>
          <a href="#" class="btn btn-brand">Get Started</a>
          <a href="#" class="btn btn-outline-light ms-3">Our Work</a>
        </div>
      </div>
    </div>
  </div>
</div>
